.container{
background-color: black;
}


/***************************
****************************
      SLIDE ICONS
****************************
***************************/
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
bottom: 2%;
left: 0;
width: 100%;
}

.swiper-pagination-bullet{
background-color: orange;
border-radius: 100%;
}

/***************************
****************************
      STUDENT SLIDES 
****************************
***************************/

.studentSpotlight {
position: absolute;
z-index: 100;
margin: 0;
padding-top: 2%;
left: 5%;
color: #fff;
text-shadow: 1px 1px black;
font-size: 300%;
} 

.slidesContainer{
  height: 70%;
}

.gradient {
z-index: 100;
background-size: cover;
}

.gradient::after{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, black 100%, rgba(0, 0, 0, 0.65) 100%);
}

.studentImage {
z-index: 1;
position: absolute;
background-size: cover;
}

.slide-zoom {
height: 100%;
text-align: left;
margin-bottom: 0%;
padding-bottom: 0%;
}

.studentName {
z-index: 200;
position: absolute;
padding-left: 3%;
bottom: 15%;
color: #fff;
text-shadow: 1px 1px black;
font-size: 200%;
}

.studentSchool{
z-index: 200;
position: absolute;
padding-left: 3%;
bottom: 6%;
color: white;
text-shadow: 1px 1px black;
font-size: 120%;
}

/***************************
****************************
          CARDS
****************************
***************************/

.cards{
}
