page-cards {
}

ion-app.md [padding], ion-app.md [padding] .scroll-content{
    padding: 0px !important;
}


.article{

}

.article-image{
position: relative;
 width: 100%;
 height: 50%;
}

.article-heading{

}
.article-paragraph{

}